In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier

In [22]:
data = pd.read_csv('data2.csv')
data

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [23]:
#no null values, duplicates can exist as data is not very specific
data.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [25]:
x = data.drop(['income','education','native.country','relationship','marital.status','occupation','workclass'], axis = 1)
x

,age,fnlwgt,education.num,race,sex,capital.gain,capital.loss,hours.per.week
0,90,77053,9,White,Female,0,4356,40
1,82,132870,9,White,Female,0,4356,18
2,66,186061,10,Black,Female,0,4356,40
3,54,140359,4,White,Female,0,3900,40
4,41,264663,10,White,Female,0,3900,40
...,...,...,...,...,...,...,...,...
32556,22,310152,10,White,Male,0,0,40
32557,27,257302,12,White,Female,0,0,38
32558,40,154374,9,White,Male,0,0,40
32559,58,151910,9,White,Female,0,0,40
32560,22,201490,9,White,Male,0,0,20

In [26]:
x['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [27]:
x['race'].replace(to_replace=['White','Black','Asian-Pac-Islander','Amer-Indian-Eskimo','Other'], value=[1,2,3,4,5], inplace=True)
x['race'].value_counts()

C:\Users\smile\AppData\Local\Temp\ipykernel_12620\3891843719.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x['race'].replace(to_replace=['White','Black','Asian-Pac-Islander','Amer-Indian-Eskimo','Other'], value=[1,2,3,4,5], inplace=True)
C:\Users\smile\AppData\Local\Temp\ipykernel_12620\3891843719.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  x['race'].replace(to_replace=['White','Black','Asian-Pac-Islander','Amer-Indian-Eskimo','Other'], value=[1,2,3,4,5], inplace=True)

race
1    27816
2     3124
3     1039
4      311
5      271
Name: count, dtype: int64

In [28]:
x['sex'].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

In [38]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse_output=False)
one_hot_encoder = encoder.fit_transform(x[['sex']])
encoded_data = pd.DataFrame(one_hot_encoder,columns=encoder.get_feature_names_out(['sex']))

x_encoded = pd.concat([x, encoded_data], axis=1)
x_encoded.drop(['sex'],axis = 1,inplace=True)
x_encoded

,age,fnlwgt,education.num,race,capital.gain,capital.loss,hours.per.week,sex_0,sex_1
0,90,77053,9,1,0,4356,40,0.0,1.0
1,82,132870,9,1,0,4356,18,0.0,1.0
2,66,186061,10,2,0,4356,40,0.0,1.0
3,54,140359,4,1,0,3900,40,0.0,1.0
4,41,264663,10,1,0,3900,40,0.0,1.0
...,...,...,...,...,...,...,...,...,...
32556,22,310152,10,1,0,0,40,1.0,0.0
32557,27,257302,12,1,0,0,38,0.0,1.0
32558,40,154374,9,1,0,0,40,1.0,0.0
32559,58,151910,9,1,0,0,40,0.0,1.0
32560,22,201490,9,1,0,0,20,1.0,0.0

In [39]:
y = data['income']
y.value_counts()

income
0    24720
1     7841
Name: count, dtype: int64

In [40]:
y.replace(to_replace=['<=50K','>50K'], value=[0,1],inplace=True)
y.value_counts()

income
0    24720
1     7841
Name: count, dtype: int64

In [41]:
x_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   fnlwgt          32561 non-null  int64
 2   education.num   32561 non-null  int64
 3   race            32561 non-null  int64
 4   capital.gain    32561 non-null  int64
 5   capital.loss    32561 non-null  int64
 6   hours.per.week  32561 non-null  int64
 7   sex_0           32561 non-null  float64
 8   sex_1           32561 non-null  float64
dtypes: float64(2), int64(7)
memory usage: 2.2 MB

In [42]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x,y,train_size=0.2,random_state=100)

In [43]:
model = RandomForestClassifier()

In [44]:
model.fit(X_train, y_train)

RandomForestClassifier()

In [45]:
prediction = model.predict(X_test)

In [46]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(prediction, y_test)
accuracy

0.824753349456793